

form 
  width: 50%

  padding: 1px 20px
  margin: auto
  border-style: solid

input, textarea
    width: 100%
    margin-bottom: 20px
    padding: 2px

label 
  display: block
  margin: .1em 0
  font-weight: bold




