div 
  display: inline-block


div label 
  display: block



form 
  width: auto
  padding: 1px 20px
  margin: auto
  border-style: solid




input, textarea
    width: 100%
    margin-bottom: 20px
    padding: 2px
    text-align: space-between
    

label 
  display: block
  margin: .1em 0
  font-weight: bold
  text-transform: uppercase




