
  <div class="container">
  <div *ngIf="ticketid" class="row" >
    <div class="col-3 ">
      <button style="margin: 20px;" class="btn btn-primary" type="button" (click)="goBack()">Ticket list</button>
      
  <div class="header" >
    <h1>{{ticketid.type_ticket}}</h1>
    <hr>
  </div>
    
      <ul >
        <h2>{{ticketid.title}}</h2>
        <hr>
        <h3>Ticket number: {{ticketid.id}}</h3>
        <hr>
        <p>Client name: {{ticketid.name}} {{ticketid.last_name}}</p>
        <hr>
        <p>Email: {{ticketid.email}}</p>
        <hr>
        <p>Phone: {{ticketid.phone}}</p>
        <hr>
        <p>Cellphone: {{ticketid.cellphone}}</p>
        <hr>
        <p>{{ticketid.type_doc}}: {{ticketid.ni}}</p>
        <hr>
      </ul>
    </div>
  
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 Description">
      <h1>Description</h1>
      <p>{{ticketid.description}}</p>
    </div> 
    </div>

  </div>

  

