
  
  <div class="row">
    <div class="col-3 menu">
      <button style="margin: 20px;" class="btn btn-primary" type="button" (click)="goBack()">Ticket list</button>
      
  <div class="header">
    <h1>{{ticket}}</h1>
  </div>
      <ul>
        <p>{{ticket}}</p>
        <hr>
        <p>The City</p>
        <hr>
        <p>The Island dsadsa dsa dsadas das das</p>
        <hr>
        <p>The Food</p>
        <hr>
        <p>The Food</p>
        <hr>
        <p>The Food</p>
        <hr>
        <p>The Food</p>
        <hr>
        <p>The Food</p>
        <hr>
        <p>The Food</p>
        <hr>
        <p>The Food</p>
        <hr>
        <p>The Food</p>
      </ul>
    </div>
  
    <div class="col-9">
      <h1>Description</h1>
      <p>Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.</p>
      <p>Resize the browser window to see how the content respond to the resizing.</p>
    </div>
  </div>

  

